<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All vacancies</title>
</head>
<body>
<div align="center">
    <table>
        <thead>
        <tr>
            <th scope="col"> Vacancy</th>
            <th scope="col"> Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${vacancies.isEmpty()}">
            <td colspan="2"> No vacancies Available</td>
        </tr>
        <tr th:each="vacancy : ${vacancies}">
            <td><span th:text="${vacancy.title}"> Title </span></td>
            <td>
                <a th:href="@{'/users/' + ${vacancy.authorResponse.id}}"
                   th:text="${vacancy.authorResponse.name}">
                    Author
                </a>
            </td>
            <td>
                <button><a th:href="@{'/vacancies/' + ${vacancy.id}}"> Response </a></button>
            </td>
        </tr>
        </tbody>
    </table>
    <button><a href="vacancies/new">Create vacancy</a></button>
</div>
</body>
</html>